@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Linq;
<!DOCTYPE html>
<html>
<head>
    <title>Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function handleCarSelection() {
            var selectBox = document.getElementById('car');
            var selectedValue = selectBox ? selectBox.value : '';
            var submitButton = document.getElementById('submitButton');

            if (selectedValue === "") {
                submitButton.style.display = 'none';
            } else {
                submitButton.style.display = 'block';
            }
        }

        window.onload = handleCarSelection;
    </script>
</head>
<body>
    <form method="post" action="@Url.Action("BookInformation", "Reservation")">
        <label for="customer">Your email:</label>
        <select name="selectedCustomerEmail" id="customerName" onchange="this.form.submit()">
            <option value="">Select an email...</option>
            @foreach (var customerEmail in Model.CustomerEmails)
            {
                if (Model.SelectedEmail == customerEmail)
                {
                    <option value="@customerEmail" selected>@customerEmail</option>
                }
                else
                {
                    <option value="@customerEmail">@customerEmail</option>
                }
            }
        </select>
        <input type="hidden" name="ChosenDate" value="@Model.ChosenDate">
        <input type="hidden" name="ChosenTime" value="@Model.ChosenTime">
    </form>

    <br>

    <form method="post" action="@Url.Action("Book", "Reservation")">
        @if (Model.CustomerCars != null)
        {
            <label for="car">Select your car:</label>
            <select id="car" name="SelectedCarId" onchange="handleCarSelection()">
                <option value="">Select a car...</option>
                @foreach (var car in Model.CustomerCars)
                {
                    <option value="@car.Id">@car.LicensePlate</option>
                }
            </select>

            <br>

            <label for="type">Select the service your car needs:</label>
            <select id="type" name="selectedTypeOfAppointment">
                @foreach (var typeName in Enum.GetNames(typeof(Enums.Type)))
                {
                    <option value="@typeName">@typeName</option>
                }
            </select>

            <br>

            <label for="chosenDate">Chosen date:</label>
            <input type="text" id="date" name="ChosenDate" value="@Model.ChosenDate" readonly>
            <label for="chosenTime">Chosen time:</label>
            <input type="text" id="time" name="ChosenTime" value="@Model.ChosenTime" readonly>

            <br>

            @foreach (var car in Model.CustomerCars)
            {
                <input type="hidden" name="customerCars" value="@car" />
            }
            @foreach (var customerEmail in Model.CustomerEmails)
            {
                <input type="hidden" name="customerEmails" value="@customerEmail" />
            }
            <input type="hidden" name="selectedEmail" value="@Model.SelectedEmail" />
            <input type="hidden" name="chosenDate" value="@Model.ChosenDate" />
            <input type="hidden" name="chosenTime" value="@Model.ChosenTime" />
        }

        <button type="submit" id="submitButton">Submit appointment</button>
    </form>

</body>
</html>
